.button {
  background-color: white;
  border: none;
  color: Blue;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin: 8px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

.buttonRed {
    background-color: red;
    border: none;
    color: Blue;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    height: 50px;
    width: 50px;
  }

.buttonClr {
    background-color: rgb(190, 232, 248);
    border: none;
    color: Blue;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
  }
.container{
    position:fixed;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 300px;
    margin-top: -250px; /*set to a negative number 1/2 of your height*/
    margin-left: -150px;
}

.screenDisplay{
    height: 100px;
    color: white;
    text-decoration: bold;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(250, 110, 145);
}

.buttonScreen{
    height: 360px;
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(247, 232, 234);
}

#textArea{
  background-color: rgb(250, 110, 145);
  color: white;
  border: none;
  outline: none;
  font-size: 32px;
  font-weight: bold;
  width: 250px;
  font-family: "sans-serif";
}

#heading{
  color:rgb(78, 11, 28);
  font-family: 'Lucida Sans Unicode';
  text-align: center;
}